# Android/Gradle files
build/
.idea/

# Android Studio
*.iml

# Arquivos gerados pela IDE
*.log
*.bak

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de compilação temporários
local.properties
/.gradle
